/* CRECIMIENTO */
.crecimiento-list {
  margin-top: 15px;
}

.crecimiento-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* COLORES */
.positive {
  color: #2e7d32;
  font-weight: bold;
}

.negative {
  color: #c62828;
  font-weight: bold;
}