@if (loading) {
  <div class="loading-container">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
}

@if (!loading) {
  <div class="dashboard-container">
    <!-- FILTROS -->
    <mat-card class="card filtro-card">
      <div class="filtro-header">
        <h3>Filtrar por fechas</h3>
      </div>

      <div class="filtro-content">
        <mat-form-field class="filtro-input">
          <mat-label>Fecha inicio</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="filtro-input">
          <mat-label>Fecha fin</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          (click)="aplicarFiltro()"
          [disabled]="!fechaInicio || !fechaFin"
        >
          <mat-icon>filter_alt</mat-icon>
          Aplicar
        </button>

        <button mat-flat-button color="primary" (click)="limpiarFiltro()">
          <mat-icon>filter_alt_off</mat-icon>
          Limpiar
        </button>
      </div>
    </mat-card>

    <!-- KPIs -->
    <div class="kpi-grid">
      <mat-card class="card kpi-card">
        <p>Total Cuentas</p>
        <h1>{{ resumen?.total_cuentas }}</h1>
      </mat-card>

      <mat-card class="card kpi-card">
        <p>Total Facturado</p>
        <h1>{{ resumen?.total_facturado | currency }}</h1>
      </mat-card>

      <mat-card class="card kpi-card">
        <p>Último Crecimiento Mensual</p>
        <app-ultimo-crecimiento
          [data]="ultimo_crecimiento"
          class="crecimiento-card"
        ></app-ultimo-crecimiento>
      </mat-card>
    </div>

    <mat-card class="card">
      <h3>Crecimiento Mensual</h3>
      <app-waterfall-crecimiento [data]="crecimiento">
      </app-waterfall-crecimiento>
    </mat-card>

    <!-- POR PERIODO -->
    <mat-card class="card">
      <h3>Evolución por Periodo</h3>
      <div class="chart-header">
        <mat-button-toggle-group
          [(ngModel)]="metric"
          appearance="standard"
        >
          <mat-button-toggle value="total"> Total $ </mat-button-toggle>
          <mat-button-toggle value="cantidad"> Cantidad </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <app-totales-periodo [data]="periodos" [metric]="metric">
      </app-totales-periodo>
    </mat-card>

    <!-- TOP PERIODOS -->
    <div class="kpi-grid">
      <mat-card class="card kpi-card">
        <h3>Top Periodos</h3>
        <app-top-periodos [data]="top"> </app-top-periodos>
      </mat-card>

      <mat-card class="card kpi-card">
        <h3>Totales por Persona</h3>
        <app-totales-persona [data]="personas"></app-totales-persona>
      </mat-card>
    </div>
  </div>
}
